.desktop {
  display: block;
}

.mobile {
  display: none;
}

.pickers {
  display: flex;
  gap: 20px;
  .picker {
    width: 200px;
  }
}

@media (max-width: 550px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: flex;
    justify-content: space-between;
    button {
      width: 47%;
    }
  }
  .pickers {
    width: 100%;
    flex-direction: column;
    gap: 10px;
    .picker {
      width: 100%;
    }
  }
}
